<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>HELLO HELLO HELLO!  >>> <%= self.smerf_user_id%></p>
<%= link_to 'Go to SMERF Test Page', smerf_form_url('testsmerf') %>
<!--<%= link_to 'Go to SMERF Test Page', smerf_form_url('testsmerf') %>-->
<br/>
<p><%= link_to "View Users", users_path %></p>